button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

a,
button {
  min-width: max-content;
  font-size: 0.85rem;
  text-decoration: none;
  color: var(--white);
  font-weight: 600;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: transform 0.4s var(--bezier-one), filter 0.4s var(--bezier-one);
  user-select: none;
}

.button-style-acrylic {
  backdrop-filter: blur(2px);
}

button.button-style-acrylic {
  background-color: var(--button-acrylic) !important;
}

.button-dark.button-style-acrylic {
  background-color: var(--button-dark-acrylic) !important;
}

.button-filled {
  background-color: var(--button);
  color: white;
  border: 1px solid var(--button-hover);
}
.button-dark {
  background-color: var(--button-dark);
  color: white;
  border: 1px solid var(--button-hover);
}
.button-accent {
  background-color: var(--accent-color);
  color: black;
  border: 1px solid var(--accent-color);
}
.button-tonal {
  background-color: var(--grey-two);
}

.button-filled,
.button-tonal,
.button-dark,
.button-accent {
  padding: 8px 18px;
}

.button-text {
  background-color: transparent;
  color: var(--accent-color);
  font-weight: 500;
  letter-spacing: 0.01rem;
}

a:hover {
  background-color: var(--button-hover);
}

img {
  height: 20px;
}
