@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--button-hover);
}

html,
body {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

:root {
  /* TODO properly name these */
  --main-font: "Manrope", sans-serif;
  --mono-font: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
  --white: hsl(206, 100%, 94%);
  --accent-color: hsl(206, 100%, 81%);
  --accent-color-two: hsl(208, 75%, 82%);
  --accent-low-opacity: hsla(205, 91%, 69%, 0.15);
  --bg-color: hsl(252, 10%, 11%);
  --grey-one: hsl(210, 14%, 17%);
  --grey-two: hsl(212, 19%, 19%);
  --grey-three: hsl(221, 17%, 26%);
  --grey-four: hsl(226, 48%, 18%);
  --grey-five: hsl(208, 30%, 75%);
  --grey-six: hsl(230, 9%, 13%);
  --grey-seven: hsl(240, 9%, 13.5%);
  --grey-eight: hsla(207, 30%, 75%, 0.577);
  --grey-nine: hsla(240, 6%, 7%, 0.3);
  --grey-ten: hsl(230, 9.5%, 17.5%);
  --grey-eleven: hsl(208, 10%, 40%);
  --red-one: hsl(333, 84%, 62%);
  --bezier-one: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --drop-shadow-one: 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
    0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px -1px rgba(0, 0, 0, 0.2);

  /* NEW STYLES */

  --bg-color: #292929;
  --sidebar-bg-color: #202020;
  --button: #363636;
  --button-hover: #3b3b3b;
  --button-dark: #222324;
  --button-acrylic: #363636cc;
  --button-dark-acrylic: #232425cc;
  --modal-bg: #2d2d2d;
  --input: #252525;
  --input-border: #cdcdcd;
  --input-hover: #3b3b3b;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--accent-low-opacity);
}

@layer base {
  h1 {
    @apply leading-[4rem] text-[3.5rem] font-extrabold -tracking-[0.025em];
  }

  h2 {
    @apply text-5xl leading-none font-semibold tracking-tighter;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  h4 {
    @apply font-medium text-base tracking-tight leading-8;
  }

  h5 {
    @apply font-medium text-sm tracking-tight;
  }

  h6 {
    @apply font-medium text-xs;
  }

  p {
    @apply font-medium text-base tracking-tight leading-7;
  }

  @screen sm {
    h1 {
      @apply text-7xl leading-[3.75rem];
    }

    h2 {
      @apply text-4xl;
    }
  }

  hr {
    @apply block h-px border-0 border-t border-grey-three;
  }

  input {
    @apply px-4 py-4 rounded-lg border border-grey-three bg-transparent text-accent-two;
  }

  input:focus {
    @apply outline-accent outline-1;
  }
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  background-clip: content-box;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey-three);
}
